---
import ArrowIcon from '../components/icons/Arrow.astro';
---

<a href="/" class="fixed bottom-5 right-5 p-2 md:p-3 bg-primary-wine text-white rounded-full hover:bg-secondary-wine">
        <ArrowIcon />
</a>