---
const currentYear = new Date().getFullYear()
---

<footer>
        <div class="flex flex-col justify-center items-center">
                <img src="/images/mascaras.png" alt="imagen de mascaras de teatro blanco y negro" class="h-20">
                <p> &#169; Todos los derechos reservados {currentYear} </p>
                <a href="" target="_blank" class="underline hover:opacity-50 hover:scale-110"> Acerca del sitio </a>
        </div>
</footer>